{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

 <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">My Account</div>
            </div>
        </div>
        <!-- /page-title -->

        <!-- page-cart -->
        <section class="flat-spacing-11">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="wrap-sidebar-account">
                           
                            <ul class="my-account-nav">
                                 {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'dashboard' %}" class="my-account-nav-item {% if section == 'dashboard' %}active{% endif %}" data-section="dashboard">Dashboard</a></li>

                                <li><a href="#" class="my-account-nav-item {% if section == 'orders' %}active{% endif %}" data-section="orders">Orders</a></li>
                                <li><a href="#" class="my-account-nav-item {% if section == 'address' %}active{% endif %}" data-section="address">Address</a></li>
                                <li><a href="#" class="my-account-nav-item {% if section == 'account_details' %}active{% endif %}" data-section="account_details">Account Details</a></li>
                                
                                
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                   <li><button type="submit" class="my-account-nav-item">Logout</button></li>
                                </form>
                                {% else %}
                                <li><a href="{% url 'login' %}" class="my-account-nav-item">Log-in</a></li>
                                {% endif %}
                                
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="my-account-content account-dashboard" id="account-content">
                            <!-- ajax call content here -->
                    </div>
                </div>
            </div>
        </section>
        <!-- page-cart -->

        <div class="btn-sidebar-account">
            <button data-bs-toggle="offcanvas" data-bs-target="#mbAccount" aria-controls="offcanvas"><i
                    class="icon icon-sidebar-2"></i></button>
        </div>

{% endblock content %}